# Editors
.vscode/
.idea/
/*.iml

# Git things

# Node things
node_modules/
*.log*

# Build things
build/
*.tgz
coverage/
*.xml
.awcache/
.eslintcache
*.tsbuildinfo

# OS
.DS_Store

/report.*.json

.vercel
